*{
  margin: 0px;
  padding: 0px;
  font-family: Assistant,-apple-system,BlinkMacSystemFont, 'Segoe UI', Roboto,Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* HEADER CSS STYLING */

header{
  position:fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  display: flex;
  height: 80px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(206, 197, 197, 0.5)
}

.logoContainer{
  margin-left: 3.5%;
}

.myntraLogo{
  height: 50px;
}

.navBar {
  min-width: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navBar a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: .3px;
  color: #282c3f;
  font-weight: 700;
  padding: 30px 0px;
}

.navBar a:hover{
  border-bottom: 4px solid #f54e77;
}

.navBar a sup{
  color: #ff3f6c;
  font-size: 10px;
}

.searchBar{
  display: flex;
  max-width: 400px;
  height: 40px;
  align-items: center;
  flex-shrink: 2;
  flex-grow: 1;
}

#inputSearch{
  font-size: 14px;
  height: 40px;
  color: #696e79;  
  border: 1px solid #f5f5f6;
  border-radius: 0 4px 4px 0;
  background: #f5f5f6;
  flex-grow: 1;
  flex-shrink: 1;
  /* min-width: 100px; */
}

.searchIcon{
  box-sizing: content-box;
  padding: 10px;
  height: 20px;
  background: #f5f5f6;
  color: #282c3f;
  font-weight: 300;
  border-radius: 4px 0px 0px 4px;
}


.actionBar{
  margin-right: 3.5%;
  height: 40px;
  display: flex;
  align-items: center;
  min-width: 200px;
  justify-content: space-evenly ;
}

.actionContainer{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  

}

.bagCounter{
  background-color: #f16565;
  white-space: nowrap;
  text-align: center;
  line-height: 18px;
  padding: 0px 6px;
  height: 18px;
  border-radius: 50%;
  font-size: 12px;
  color: white;
  font-weight: 700;
  position: relative;
  left: -19px;
  top: -17px;
  visibility: hidden;
}

/* MAIN CSS STYLING */

.bannerContainer{
  margin: 40px 0px;
}

.bannerImage{
  position: relative;
  top: 40px;
  padding: 5px 0px;
  width: 100%;
}

.coupon{
  display: flex;
  flex-direction: column;
}
.couponBanner {
  width: 100%;
}
.couponContainer{
  box-sizing: border-box;
  width: 100%;
  border: 5px dotted rgb(184, 18, 131, 0.3);
  flex-shrink: 2;
}

#c1{
  
  display: flex;
  float: left;
  flex-grow: 1;
  flex-shrink: 1;
  width: 50%;

}

#c2{
  display: flex;
  float: right;
  flex-grow: 1;
  flex-shrink: 1;
  width: 50%;
}

.festiveOffer{
  margin-top: 10px;
  width: 100%;
}

.categoryTitle{
  display: block;
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: .15em;
  font-size: 2em;
  margin: 20px 0 10px 40px;
  padding: 0.5em 1em;
  max-height: 5em;
  font-weight: 700;
  align-content: center;
}

.offerItems{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 15px ;
  
}

.saleItems{
  width: 250px;
  margin: 5em;
  
}

/* FOOTER CSS STYLING */
.footer{
  position: relative !important;
  bottom: 0%;
  width: 100%;
  margin-top: 80px;
}

.footerContainer{
  display: flex;
  padding: 30px 0px 40px 0px;
  background: #e8eaec;
  justify-content: space-evenly;
}

.footerColumn h3{
  color: #282c3f;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.footerColumn {
  display: flex;
  flex-direction: column;
  
}

.footerColumn a {
  font-size: 15px;
  display: block;
  text-decoration: none;
  color: #9ca0a7;
  padding-bottom: 5px;
}

footer hr {
  border: 1px solid rgb(82, 79, 79, 0.3);
  margin: 0% !important;
}
.copyright{
  background: #e8eaec;
  display: flex;
  /* justify-content: space-evenly; */

}

.cp{
  
  font-size: 16px;
  color:#94969f;;
}

#leftCP{
  width: 33.33%;
  text-align: left;
}
#centerCP{
  width: 33.33%;
  text-align: center;
}
#rightCP{
  width: 33.33%;
  text-align: end;
} 

.mainContainer{
  position: relative;
  /* top: 80px; */
  width: 80%;
  margin: 40px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.itemContainer{
  width: 250px;
  margin: 15px;
  padding: 5px;
}

.productImage{
  width: 100%;

}

.rating{
  font-size: 12px;
  font-weight: 700;
}

.brandName{
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}
.productName{
  color: #535766;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
}
.price{
  margin: 10px 0 6px;
  font-weight: 700;
}
.currentPrice{
  font-size: 14px;
  font-weight: 700;
  color: #282c3f;
}
.originalPrice{
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}
.discount{
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}
.addBag{
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 25px;
  background-color: rgb(68, 177, 68);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  padding: 5px;
  cursor: pointer;
  margin: 2px;
  color: white;
}
.removeBag{
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 25px;
  background-color: rgb(238, 64, 58);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  padding: 5px;
  cursor: pointer;
  margin: 2px;
  color: white;
}

/* Loading Spinner Css */

.errMsg{
  position: relative !important;
  top: -80px;
  margin-top: 20%;
  /* margin-bottom: 25%; */
}